* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Sen;
  src: url(../../fonts/Sen-Regular.ttf);
}
.register p {
  padding-bottom: 68px;
  padding-top: 69px;
  text-align: center;
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
}
.register .inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.register .inputs .first-name {
  padding-top: 22px;
  width: 768px;
}
.register .inputs .first-name form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.register .inputs .first-name form input {
  width: 100%;
  padding: 24px;
  outline: none;
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.register .inputs .first-name form a {
  width: 768px;
  height: 64px;
  display: flex;
  background: #ffd050;
  align-items: center;
  justify-content: center;
}
.register .inputs .first-name form a input:last-child {
  width: 150px;
  height: 64px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffd050;
  border: none;
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  cursor: pointer;
}
.register .inputs a {
  margin-top: 74px;
  border: none;
  text-decoration: none;
}
.login p {
  padding-bottom: 76px;
  padding-top: 69px;
  text-align: center;
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
}
.login .inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.login .inputs .first-name {
  padding-top: 22px;
  width: 768px;
}
.login .inputs .first-name form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.login .inputs .first-name form input {
  width: 100%;
  padding: 24px;
  outline: none;
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.login .inputs .first-name form a {
  width: 768px;
  height: 64px;
  display: flex;
  background: #ffd050;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 350px;
}
.login .inputs .first-name form a input:last-child {
  width: 150px;
  height: 64px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffd050;
  border: none;
  color: #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  cursor: pointer;
}

.home section:first-child img {
  max-width: 1520px;
  margin-left: -20px;
  transition: 0.4s;
}
.home section:first-child img:hover {
  transform: scale(1.2, 1.2);
}
.home section:first-child .texts {
  margin-left: -60px;
  top: 0;
  position: absolute;
  background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  width: 1519px;
  height: 803px;
  padding-left: 81px;
}
.home section:first-child .texts .posted {
  padding-top: 192px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.home section:first-child .texts .step-by-step {
  max-width: 803px;
  padding-top: 24px;
  color: #fff;
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -2px;
}
.home section:first-child .texts .name-date {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding-top: 24px;
}
.home section:first-child .texts .name-date p:first-child {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.home section:first-child .texts .name-date p:nth-child(2) {
  padding-left: 2px;
  color: #ffd050;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.home section:first-child .texts .name-date p:nth-child(3) {
  padding-left: 2px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.home section:first-child .texts p:nth-child(4) {
  max-width: 599px;
  padding-top: 16px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.home section:first-child .texts a {
  margin-top: 48px;
  margin-bottom: 192px;
  text-decoration: none;
  width: 204px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd050;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
.home section:first-child .texts a button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.4s;
}
.home section:first-child .texts a button p:first-child {
  position: absolute;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  transition: 0.4s;
}
.home section:first-child .texts a button i {
  padding-left: 60px;
  font-size: 32px;
  color: #232536;
  font-size: 24px;
  transition: 0.6s;
  animation-duration: 1.5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 140%;
    width: 200%;
  }
  to {
    margin-left: 70%;
    width: 300%;
  }
}
.home section:nth-child(2) {
  padding-left: 91px;
  padding-right: 91px;
}
.home section:nth-child(2) .h-latest-post {
  padding-top: 94px;
  color: #000;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
}
.home section:nth-child(2) .cards {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}
.home section:nth-child(2) .cards a {
  text-decoration: none;
  width: 405px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.4s;
}
.home section:nth-child(2) .cards a .h-name-date {
  padding-left: 5px;
  padding-top: 32px;
  display: flex;
  gap: 4px;
}
.home section:nth-child(2) .cards a .h-name-date p:first-child {
  color: var(--Dark-Grey, #4c4c4c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.home section:nth-child(2) .cards a .h-name-date p:nth-child(2) {
  color: var(--Purple, #592ea9);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.home section:nth-child(2) .cards a .h-name-date p:nth-child(3) {
  color: var(--Dark-Grey, #4c4c4c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.home section:nth-child(2) .cards a p:nth-child(3) {
  padding-left: 10px;
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.home section:nth-child(2) .cards a p:nth-child(4) {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
.home section:nth-child(2) .cards a:hover {
  box-shadow: rgb(145, 145, 145) 0px 0px 0px 3px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(143, 143, 143) 10px -10px;
}
.home section:nth-child(2) hr {
  margin-top: 66px;
  opacity: 0.3;
  background: #6d6e76;
}
.home section:nth-child(3) .third-items {
  padding-left: 91px;
  padding-right: 91px;
  padding-top: 69px;
}
.home section:nth-child(3) .third-items .choose {
  text-align: center;
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
}
.home section:nth-child(3) .third-items .categrory-cards {
  padding-top: 71px;
  gap: 32px;
}
.home section:nth-child(3) .third-items .categrory-cards a {
  text-decoration: none;
  background: #5cc5fa;
  width: 296px;
  height: 221.072px;
  flex-shrink: 0;
  padding: 32px;
}
.home section:nth-child(3) .third-items .categrory-cards a .bus {
  text-decoration: none;
  padding-top: 16px;
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.home section:nth-child(3) .third-items .categrory-cards a .inform {
  text-decoration: none;
  padding-top: 4px;
  color: #6d6e76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Inter;
}
body header {
  margin-bottom: 83px;
}
body header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 0px 45px 15px #232536;
  background: #232536;
}
body header nav .nav-items {
  display: flex;
  justify-content: space-between;
}
body header nav .nav-items svg {
  margin-top: 25px;
  margin-bottom: 26px;
  margin-left: 83px;
  fill: #fff;
  width: 140px;
  height: 32px;
}
body header nav .nav-items .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
body header nav .nav-items .nav-item a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  font-size: 16px;
  font-weight: 400;
}
body header nav .nav-items .nav-item a:hover {
  color: #cbcbcb;
  transform: scale(1.1, 1.1);
}
body header nav .nav-items .nav-item button {
  width: 147px;
  height: 56px;
  background: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
body header nav .nav-items .nav-item button a {
  color: #232536;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
body header nav .nav-items .nav-item button:hover {
  background: #cbcbcb;
}
body header nav .nav-items .nav-item button:hover a {
  color: #0487ce;
}
body footer {
  margin-top: 73px;
  background: #232536;
}
body footer .footer-items {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .footer-items .f-texts p:first-child {
  margin-top: 54px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
body footer .footer-items .f-texts p:nth-child(2) {
  margin-bottom: 54px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
body footer .footer-items .social-addresses {
  display: flex;
  gap: 26px;
}
body footer .footer-items .social-addresses a:first-child i {
  font-size: 24px;
  color: #6d6e76;
  transition: 0.5s;
}
body footer .footer-items .social-addresses a:first-child i:hover {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  color: #1755ca;
  background: white;
  transform: scale(1.4, 1.4);
}
body footer .footer-items .social-addresses a:nth-child(2) i {
  font-size: 24px;
  color: #6d6e76;
  transition: 0.5s;
}
body footer .footer-items .social-addresses a:nth-child(2) i:hover {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  color: #282828;
  background: white;
  transform: scale(1.4, 1.4);
}
body footer .footer-items .social-addresses a:nth-child(3) i {
  font-size: 24px;
  color: #6d6e76;
  transition: 0.5s;
}
body footer .footer-items .social-addresses a:nth-child(3) i:hover {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  color: #ff0062;
  background: white;
  transform: scale(1.4, 1.4);
}
body footer .footer-items .social-addresses a:nth-child(4) i {
  font-size: 24px;
  color: #6d6e76;
  transition: 0.5s;
}
body footer .footer-items .social-addresses a:nth-child(4) i:hover {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  color: #0a81e2;
  background: white;
  transform: scale(1.4, 1.4);
}/*# sourceMappingURL=style.css.map */